---
layout: default
title: Categories
permalink: "/news/categories/"
---
<main class="column content-page blog">
  <section class="column-single">
        {% assign rawtags = "" %}
        {% for post in site.posts %}
            {% assign ttags = post.categories | join:'|' | append:'|' | downcase %}
            {% assign rawtags = rawtags | append:ttags %}
        {% endfor %}
        {% assign rawtags = rawtags | split:'|' | sort %}

        {% assign categories = "" %}
        {% for category in rawtags %}
            {% if category != "" %}
                {% unless categories contains category %}
                    {% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
                {% endunless %}
            {% endif %}
        {% endfor %}

        {% for category in categories %}
          {% if category == "monthly-articles" %}
            {% include card-post.html %}
          {% endif %}
        {% endfor %}
        {% for category in categories %}
            {% if category != "interviews" and category != "monthly-articles" %}
              {% include card-post.html %}
            {% endif %}
        {% endfor %}
        {% for category in categories %}
            {% if category == "interviews" %}
              {% include card-post.html %}
            {% endif %}
        {% endfor %}
  </section>
</main>

