---
layout: default
title: Categories
permalink: "/news/categories/"
---

<section class="post-list-compact">
    {% assign rawtags = "" %}
    {% for post in site.posts %}
        {% assign ttags = post.categories | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
    {% endfor %}
    {% assign rawtags = rawtags | split:'|' | sort %}

    {% assign categories = "" %}
    {% for category in rawtags %}
        {% if category != "" %}
            {% if categories == "" %}
                {% assign categories = category | split:'|' %}
            {% endif %}
            {% unless categories contains category %}
                {% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
            {% endunless %}
        {% endif %}
    {% endfor %}

    {% for category in categories %}
        <article class="post">
        <h1 id="{{ category | slugify }}">{{ category }}</h1>
         {% for post in site.posts %}
             {% if post.categories contains category %}
             <div>
             <span class="post-date">
                    {% assign m = post.date | date: "%-m" %}
                    {% case m %}
                      {% when '1' %}January
                          {% when '2' %}February
                          {% when '3' %}March
                          {% when '4' %}April
                          {% when '5' %}May
                          {% when '6' %}June
                          {% when '7' %}July
                          {% when '8' %}August
                          {% when '9' %}September
                          {% when '10' %}October
                          {% when '11' %}November
                          {% when '12' %}December
                    {% endcase %}
                    {{ post.date | date: "%-d" }}
                    ,
                    {{ post.date | date: "%Y" }}</span>
             <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">
               {{ post.title }}
               </a>
              </h2>
             <p class="intro">
             {{ post.intro }}
             </p>
             </div>
             {% endif %}
         {% endfor %}
        </article>
    {% endfor %}
</section>
