---
layout: default
description: meta description
---

<main class="home">

  {% include intro-hero.html %}


  <section class="initial-results">

    <div class="column-single ">

      <div class="intro-text">

        <h2>Initial results</h2>

        <p>The project has assessed the reports of 105 European companies from the Energy, ICT and Health Care sectors in the initial round held in 2018. The main results are summarised in this website. You may also download the "2018 Research Report" PDF where you will find all the results and conclusions from the initial research in a detailed briefing.</p>
        <p>The Alliance for Corporate Transparency is three-year research project that brings together leading civil society organisations and experts with the aim of analysing the corporate disclosure on sustainability issues by the 1000 largest companies operating in the EU and providing evidence-based recommendations for legislative changes. </p>

      </div>

      <div class="ctas">

        <a href="{{ site.url_report2018 }}" class="button">See initial results</a>
        <a href="{{ site.url_report2018_pdf }}" class="button button-negative">Download full report here</a>

      </div>

    </div>

  </section>


  <section class="color-negative clipped-diag-top-bottom">

    <div class="column-single ">

      <h2>News</h2>

      {% include posts.html %}

    </div>

  </section>


  <section class="partners">
    <div class="column-single">
        <h2>Partners</h2>
        <p class="section-main">Partners and advisors of the project include:</p>
        <ul class="section-wrap">
          <li><div class="partner"><img src="{% asset logos/logo-frankbold @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-BHRC @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-CORE @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-clientearth @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-futurefit @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-germanwatch @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-oxfam @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-shift @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-sustentia @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-ti @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-wwf @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-cdp @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-sei @path %}" alt=""></div></li>
          <li><div class="partner"><img src="{% asset logos/logo-themis @path %}" alt=""></div></li>
        </ul>
      </div>
  </section>

  <section>
    <div class="column-single">
        <h2>Get info</h2>
        <p>You can register for our <a class="link" href="http://eepurl.com/dJPBjQ">newsletter here</a> to receive updates on the project. <a class="link" href="mailto:susanna.arus@frankbold.org">Contact us by email here</a>.</p>
    </div>
  </section>


</main>
