<header>
  <div class="column">
    <a href="/"><img src="{% asset logos/logo-ACT @path %}" alt="" class="logo"></a>
    <nav>
      <ul>
        <li>
          <a href="/report-2018/">Initial results</a>
        </li>
        <li>
          <a href="{% asset '{{ site.url_report2018_pdf }}' @path %}" title="Download PDF file - (10MB)">2018 Research Report</a>
        </li>
        <li>
          <a href="/pages/about">About</a>
        </li>
        <li>
          <a href="/pages/methodology">Methodology</a>
        </li>
        <li>
          <a href="/news/">News</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
