<header>
  <div class="column">
    <a href="/"><img src="{% asset logos/logo-ACT @path %}" alt="" class="logo"></a>
    <div class="nav-container">
      <nav class="main">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <!-- PENDING 2019 FILE -->
            <a href="{% asset '{{ site.url_report2018_pdf }}' @path %}" title="Download PDF file - (10MB)">2019 Report</a>
          </li>
          <li>
            <a href="/database">Database</a>
          </li>
          <li>
            <a href="/pages/methodology.html">Methodology</a>
          </li>
          <li>
            <a href="/pages/about.html">About</a>
          </li>
          
        </ul>
      </nav>
      <nav class="secondary">
        <ul>
          <li>
            <a href="/news/"><strong>News</strong></a>
          </li>
          <li>
            <a href="/pages/2018_research.html">2018 Research</a>
          </li>
          <li>
            <a href="https://twitter.com/EUCorpReporting" target="_blank">{% asset 'icons8-twitter.svg' width='21' style="vertical-align: middle" %} Follow us</a>
          </li>
          <li>
            <a href="{{ site.url_newsletter }}" target="_blank">Subscribe to our newsletter</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>