<div style="display: flex; max-width: 1280px; margin: 0 auto;">
  <aside style="flex-basis: 33%;background-color: aliceblue;">
    Menu
  </aside>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam architecto error non nesciunt ratione magnam ipsa eos
    earum debitis cumque. Iure eum repellendus ea debitis facilis non dolorum tempora iste? Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Tempore quam doloremque veritatis odio provident ipsam sit omnis aliquid laboriosam
    quia, officiis hic sint perspiciatis sequi cupiditate! Placeat aut atque quos?

    <ul>
      <li style="display: flex; margin-bottom: 30px">
        <div></div>
        <div>Entertainment</div>
        <div>Social, employee and human rights</div>
        <div>Anticorruption</div>
      </li>
      <li style="display: flex; margin-bottom: 30px">
        <div label style="width: 120px; display: flex; flex-direction: column; justify-content: space-around"></div>
        <div>
          <canvas id="policies-0"></canvas>
        </div>
        <div>
          <canvas id="policies-1"></canvas>
        </div>
        <div>
          <canvas id="policies-2"></canvas>
        </div>
      </li>
      <li style="display: flex; margin-bottom: 30px">
        <div>
          <canvas id="bar-3"></canvas>
        </div>
        <div>
          <canvas id="bar-4"></canvas>
        </div>
        <div>
          <canvas id="bar-5"></canvas>
        </div>
      </li>
      <li style="display: flex; margin-bottom: 30px">
        <div>
          <canvas id="bar-6"></canvas>
        </div>
        <div>
          <canvas id="bar-7"></canvas>
        </div>
        <div>
          <canvas id="bar-8"></canvas>
        </div>
      </li>
      <li style="display: flex; margin-bottom: 30px">
        <div>
          <canvas id="bar-6"></canvas>
        </div>
        <div>
          <canvas id="bar-7"></canvas>
        </div>
        <div>
          <canvas id="bar-8"></canvas>
        </div>
      </li>
    </ul>
  </div>
</div>


<script>
  var datasets = [{
    id: 'policies-0',
    data: [
      ["Wheel", 20],
      ["Door", 15],
      ["Engine", 100],
      ["Totals", 135]
    ]
  }, {
    id: 'policies-1',
    data: [
      ["Wheel", 50],
      ["Door", 45],
      ["Engine", 87],
      ["Totals", 42]
    ]
  }, {
    id: 'policies-2',
    data: [
      ["Wheel", 50],
      ["Door", 45],
      ["Engine", 87],
      ["Totals", 42]
    ]
  }]

  Chart.defaults.global.tooltips = {
    enabled: false
  }

  const canvas = document.querySelectorAll("canvas")

  canvas.forEach((chart, chartIndex) => {
    const dataset = datasets.find(set => set.id === chart.id)

    if (dataset) {
      // prepare data
      const columnNames = dataset.data.map(a => a[0])
      const data = dataset.data.map(a => a[1])

      const labels = document.querySelector("[label]")

      if (!labels.innerHTML) {        
        let markup = ''
        columnNames.forEach(column => markup += `<div>${column}</div>`)
        labels.innerHTML = markup
      }

      const barThickness = 30
      chart.height = columnNames.length * barThickness + 8

      // const maxValue = Math.max.apply(Math, data) * 1.05
      // const inverseData = data.map(e => maxValue - e)

      // options
      var opts = {
        type: 'horizontalBar',
        data: {
          labels: columnNames,
          datasets: [{
            data: data,
            backgroundColor: 'rgba(255, 99, 132)'
          }]
        },
        plugins: [ChartDataLabels],
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              stacked: true,
              gridLines: {
                drawBorder: false,
                drawTicks: false,
              },
              ticks: {
                display: false,
                beginAtZero: true,
                precision: 0,
                // max: maxValue
              }
            }],
            yAxes: [{
              barThickness: barThickness,
              stacked: true,
              gridLines: {
                display: false
              },
              ticks: {
                display: false
              }
            }]
          },
          plugins: {
            datalabels: {
              color: '#fff',
              anchor: 'end',
              align: 'start'
            }
          }
        }
      };

      new Chart(chart, opts)
    }
  })
</script>