html, body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next";
}

.line {
  width: 270px;
  height: 1px;
  opacity: 0.2;
  background-color: #508CA7;
}

.column {
  max-width: 1440px;
  margin: auto;
}
