.barcharts {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;

    > * {
      flex: 1;
    }
  }

  [group-label] {
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $cMutedText;
    font-size: $fsSmall;

    > * {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  .color-0 {
    background-color: #3C915A;
  }

  .color-1 {
    background-color: #A45A4F;
  }

  .color-2 {
    background-color: #5890AB;
  }

  .color-3 {
    background-color: #E4C293;
  }

  .color-4 {
    background-color: #A8A5D0;
  }

  #hidden-chart-colors span {
    width: 10px;
    height: 10px;
    display: none;
  }
}