header {
  height: 100px;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
  }

  img {
    max-height: 90%;
  }

  nav {
    @media screen and (max-width: 39.9375em) {
      display: none;
    }

    ul {
      list-style-type: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 1vw;
        }

        a {
          font-size: $fsLarge;
          color: $cLink;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}
