header {
  background-image: linear-gradient(-180deg, #336A7D 0%, #548CA7 100%);
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.50);
  height: 80px;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-transform: uppercase;
    height: 100%;
  }

  h3 {
    opacity: 0.5;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
  }

  nav {

    @media screen and (max-width: 39.9375em) {
      display: none;
    }

    ul {
      list-style-type: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 1vw;
        }

        a {
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }
}
