.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .hero-img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 33.489473% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 33.489473% 100%);
    object-fit: cover;

    @media screen and (max-width: 39.9375em) {
      display: none;
    }
  }

  .hero-logo {
    margin: auto;

    @media screen and (max-width: 39.9375em) {
      padding: 5%;
      box-sizing: border-box;
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .hero-sub {
    margin-left: 140px;

    @media screen and (max-width: 39.9375em) {
      margin-left: 0;
    }
  }

  p {
    width: 320px;
    font-weight: 600;
    font-size: 18px;

    @media screen and (max-width: 39.9375em) {
      width: 100%;
    }
  }
}
