$gutter: 16px;

.indicators-block {
  font-family: 'Muli';
  margin: 0 0 4 * $gutter;

  > :first-child {
    margin: 0 0 $gutter;

    strong {
      font-weight: 900;
    }
  }

  .flex-indicators {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    > * {
      flex: 0 0 20%;
    }
  }

  .indicator-value {
    font-size: 49px;
    font-weight: 900;
  }

  .indicator-desc {
    font-size: $fsBig;
    font-weight: 900;
  }
}