$gutter: 12px;

.report-header {
  padding: 0 2em;
  height: 266px;
  text-align: center;
  margin: 0 0 4em 0;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;

  h1 {
    font-size: $fsHero;
    margin: 0 auto;
    width: 70%;
  }

  p.pre-title {
    font-size: $fsLarge;
    text-transform: uppercase;
    margin: 0;
  }

  .report-header-content {
    display: block;
    width: 100%;
  }

}

.report-container {
  display: flex;
  flex: 1;
}

.report-sidebar {
  width: 18%;
  margin: 0 5% 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0 2 * $gutter $gutter 0;
    padding: 6px 10px 6px 2 * $gutter;
    font-size: 14px;

    &.active {
      font-weight: 600;
      background-color: $cBackground;
      -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: $cLink;
  }
}

.report-content {
  width: 72%;
  padding-bottom: 5em;

  p {
    margin-bottom: 2em;
  }
}
