$gutter: 16px;

.report-header {
  padding: 0 2em;
  height: 266px;
  text-align: center;
  margin: 0 0 2em 0;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: $fsHero;
    margin: 0 auto;
    width: 70%;
  }

  p {
    font-size: $fsLarge;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.report-container {
  display: flex;
  flex: 1;
}

.report-sidebar {
  width: 20%;
  margin: 0 5% 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0 2 * $gutter $gutter 0;
    padding: 2px 0 2px 2 * $gutter;

    &.active {
      font-weight: 600;
      background-color: $cBackground;
      -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;
    font-size: $fsMedium;
    color: $cLink;
  }
}

.report-content {
  width: 70%;
  padding-bottom: 5em;
}
