// Colors
$cText: #313131;
$cLink: #3B5360;
$cLinkSecondary: #5890AB;
$cDecorator: #365F44;
$cMutedText: #6F6F6F;
$cBackground: #A8C4D2;
$cScale: #3C915A #A45A4F $cLinkSecondary #E4C293 #A8A5D0;

// Fonts
$fsHero: 44px;
$fsXLarge: 25px;
$fsLarge: 20px;
$fsBig: 18px;
$fsMedium: 15px;
$fsSmall: 12px;