<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>

<script data-dojo-config="async: 1" src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"66bafd0ef0d33f5bf8fbe1e87","lid":"113ab4bd34","uniqueMethods":true}) })</script>

{% asset charts.js %}
{% asset summaryTableHome.js %}

</body>
</html>
