---
layout: default
---

{% if page.img %}
  <div class="report-header" style="background-image: url('{{ page.img }}')">
  </div>
{% endif %}

<main class="column content-page blog">

  <div class="column-single">
      
    <div class="post">

      <p class="post-date">{{ page.date | date: "%-d %B %Y" }}</p>

      <h1>{{ page.title }}</h1>

      {% if page.categories.size > 0 %}
        <div class="post-blog-categories">
            {% for tag in page.categories %}
            <div class="post-blog-categories-element">
              <a href="/news/categories/#{{ tag | slugify | remove: ',' }}">#{{ tag | remove: ',' | replace: "-", "" }}</a>
            </div>
            {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      <div class="line-separator"></div>

      {% include get_updates.html %}


    </div>

  </div>
  
</main>
