---
layout: default
---

<main class="column">

{% if assets[page.img] %}
  <div class="report-header" style="background-image: url('{% asset '{{ page.img }}' @path %}')">
{% else %}
  <div class="report-header">
{% endif %}

    <div class="report-header-content">
      <p class="pre-title">{{ page.pre_title }}</p>
      <h1>{{ page.title }}</h1>
    </div>

  </div>

  <div class="report-container">

    <aside class="report-sidebar">

      <ul>
        {% assign current = page.url | downcase %}
        {% assign report_sections = site.report-2018  %}

        {% for section in report_sections %}
          <li>
          {% if current == section.url %}
            {{ section.pre_title }} {{ section.title }}
          {% else %}
            <a href="{{ section.url }}">{{ section.pre_title }} {{ section.title }}</a></li>
          {% endif %}

        {% endfor %}
      </ul>

    </aside>

    <div class="report-content">

      {{ content }}

    </div>

  </div>


  {% include navigation.html %}


</main>
